* {
  font-family: "Courier New", Courier, monospace, sans-serif;
}

.colorbox-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorbox-box {
  height: 320px;
  width: 250px;
  border: 2px black solid;
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
}

.colorbox-input-box {
  text-align: center;
}

.colorbox-input-box input {
  width: 250px;
}
